body{
    margin: 0;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

#navbar{
    background-color: #2C3137;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.navbar_outer{
    margin: 1%;
    width: 10%;
}

.navbar_outer_img{
    margin: 1%;
    width: 10%;
    overflow: hidden;
}

.navbar_inner{
    overflow: hidden;
    height: 60px;
    color: #D3D3D3;

}

.navbar_inner_img{
    overflow: hidden;
    height: 60px;
    color: #D3D3D3;

}


.navbar_inner_img img{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

#footer{
    width: 100%;
    bottom: 0;
    background-color: #D3D3D3;
    text-align: center;
}

.navbar_inner p{
    text-align: center;
    font-size: 1.75vw;
}

#navbar a{
    text-decoration: none;
    color: #D3D3D3;
}

#navbar p{
    height: 100%;
    margin-top: 0;
    padding-top: 15%;
}

.navbar_inner:hover{
    background-color: #D3D3D3;
}

.navbar_inner p:hover{
    color: #2C3137;
}


#food{
    background-color: #f2f2f2
}

@media only screen and (max-width: 600px) {
    #navbar{
        flex-direction: column;
        position: relative;
    }

    .navbar_outer{
        width: 80%;
        margin-left: 5%;
        padding: 20px;
    }

    .navbar_inner{
        width: 100%;
        height: 100%;
    }

    .navbar_outer_img{
        visibility: hidden;
    }

    p{
        margin-bottom: 0;
        padding-bottom: 15%;
    }
}

body{
    margin: 0;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar{
    background-color: #2C3137;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 10px;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.navbar_outer{
    margin: 1%;
    width: 10%;
    /* overflow: hidden; */
}

.navbar_outer_img{
    margin: 1%;
    width: 6%;
    overflow: hidden;
}

.navbar_inner{
    overflow: hidden;
    height: 60px;
    color: #D3D3D3;
  }

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}


#wrapper {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  width: 100%;
  border: solid 1px black;
  height: 90%;
}

#filterWrapper {
  display: flex;
  flex-direction: column;
  background-color: #6fa6ad;
  padding: 3%;
  width: 15%;
  min-height: 100%;
  border: solid 1px black;
}

#masterWrapper {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 100%;
  border: solid black 1px;
  height: 100%;
}


.content {
  display: flex;
  flex-direction: row;
  width: 85%;
  max-height: 250px;

  background-color: #f2f2f2;
  border: solid black 1px;
  margin-bottom: 2%;
  
}

.addHeader {
  height: 15px;
}

.navbar_inner_img{
    overflow: hidden;
    height: 60px;
    color: #D3D3D3;}

.listClass {
  margin: 0;
  width: 40%;
  margin-bottom: 2%;
  margin-left: 13%;
}
.listItemClass {
  font-size: 1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1%;


}
.husBilder {
  margin-right: 10%;
  margin-left: 10%;
  /* max-width: 50%; */
  object-fit: contain;
  width: 250px;
  height: 230px;
}

.navbar_inner_img img{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}


.navbar_inner p{
    text-align: center;
}

#navbar a{
    text-decoration: none;
    color: #D3D3D3;
}

#navbar p{
    height: 100%;
    margin-top: 0;
    padding-top: 15%;
}

.navbar_inner:hover{
    background-color: #D3D3D3;
}

.navbar_inner p:hover{
    color: #2C3137;
}

#food{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #f2f2f2;
}

#food #left{
    width: 50%;
    min-height: 100%;
}

#food #left img{
    min-height: 100%;
    width: 100%;
}

#food #right{
    min-height: 100%;
    width: 50%;
}

#food #right img{
    min-height: 100%;
    width: 100%;
}

.om_oss img {
    border-radius: 50%;
}

.kolonne1 {
    float: left;
    margin-left: 10%;
    width: 20%;
    padding: 5px;
}

#contentWrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  background-color: #f2f2f2;
  padding:3%;
}
  
.rad1::after {
    content: "";
    clear: both;
    display: table;
}

#navBar {
  width: 100%;
  height: 12%;
  background-color: #2c3137;
  text-align: center;
  color: white;
}
/*css en for styling av checkBox er hentet fra følgende kilde: https://www.html5canvastutorials.com/blog/2012/06/custom-form-radio-checkbox/
hentet: 27.oktober*/
.checkBoxClass {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1.5px solid #4e4e4e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  /* position: relative; */
  width: 30px;
  height: 30px;

  right: 8%;
  margin-top: 8%;
}
.headerOmOss {
    text-align: center;
}
#omOss1 {
    text-align: center;
}

#visjon {
    text-align: center;
    max-width: 33.3%;
    margin-left: 33.3%;
}

.checkBoxClass:checked:after {
  content: "\2714";
  font-size: 35px;
  position: absolute;
  margin-top: -15px; 
  margin-left: -9px;
  color: #2C3137;
}
  
.Intro {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.avslutningOmOss {
    text-align: center;
    margin-left: 12.5%;
    width: 75%;
}

.div_om_oss{
    width: 100%;
}

.div_om_oss img{
    border-radius: 50%;
}

.div_om_oss_tittel{
    width: 100%;
}

.div_om_oss_visjon{
    width: 100%;
}


  


#frivilligFlexWrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f2f2f2;
  padding: 1%;
  
  
  
  }
  
  
  
  
  
  #bildeDiv{
  
  
  min-width:100%;
  
  margin-top:15%;
  
  
  
  }
  #opplastning{
  
    
    text-align: left;
    padding: 5%;
  }
  
  #formWrap{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    
    padding:3%;
  }
  #formWrap>form>label{
    display: inline;
    text-align: right;
    font-size: 1.5vw;
    
  }
  #formWrap>form>label>input{
  
    
    width: 40%;
    height:7%;
    margin-left: 4%;
    margin-bottom: 5%;
  }
  
  #formWrap>form{
    
    text-align: right;
    
    margin-top: 3%;
    margin-left: 15%;
  }
  
  .opplastetBilde{
  
    width: 100%;
    
    display: inline-block;
    top:50%;
    border:solid 1px black;
    
  }
  #btnLastOpp{
    margin-bottom: 5%;
    background-color: white;
    border: solid black 1px;
    
    height: 35px;
    border-radius: 20px;
    width: 20%;
  }
  
  #btnLastOpp:hover{
    background-color: #d3d3d3;
  }
  

@media only screen and (max-width: 600px) {
  .content {
    
    width: 100%;
    margin-left: 0;
  }
  .input {
    width: 130px;
  }
  #filtrerOverskrift{
      display: none;
  }

  

  #wrapper {
    flex-direction: column;
  }
  #filterWrapper {
    width: 100%;
    flex-direction: row;
    padding: 10px;

  }

  label {
    display: default;
    margin-bottom: 2%;
  }
  input {
    display: default;
  }
  #contentWrapper {
    padding: 0;
    width: 100%;
  }
  #masterWrapper {
    width: 100%;
  }
  .checkBoxClass{

    height: 15px;
    width: 15px;
  }

    .navbar_inner p {

        font-size: 40px;
    }
    #frivilligFlexWrapper{

      flex-direction: column !important;
          
    }
    #formWrap>form>label{
      text-align: center !important;
      font-size: 5vw !important;
    }
    #formWrap>form{
      margin-left: 0 !important;
      text-align: right !important;
    }
    .opplastetBilde{
      margin-left : 5%;
    
          
    }
}    

#frm{
margin-left: 15%;
}

#frm>input{



  width: 100%;
  height: 25px;
  margin-bottom: 15%;
  margin-top: 5%;
}
#frm>label{

  margin-bottom: 5%;
}

#frm>button:hover{

background-color: #d3d3d3;



}
#frm>button{
  width: 60%;
}

#mld{

margin-top: 5%;
width: 100%;
height:20%;

}

.kontakt_oss {

margin-top: 3%;

}

#qNa1{

  margin-top: 10%;
}


.kontakt_oss{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15%;
}

.QnA{
  width: 50%;
  margin-left:10%;
}

.Spm{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.qNa2 {
  margin: auto;
  padding: 25px 15px;
  width: 40%;
  cursor: alias;
}

.qNaBody {
  text-align: center;
  margin: auto;
  padding: 0 10px;
  width: 80%;
  display: none;
  overflow: hidden;
}

.hr-strek {
  margin: auto;
  width: 60%;
}

label {
  width: 100%;
}
#form_div{
  display: flex;
}

form {
  text-align: left;
  padding-left: 20%;
}

input{
  margin-bottom: 10px;
}

button{
  height: 35px;
  width: 100px;
  border-radius: 20px;
  font-size: 80%;
}

#oppe button {
  width: 15%;
  background-color: black;
  color: white;
  border: none;
}
#oppe button:hover {
  background-color: rgb(65, 65, 65);
  color: white;
}
input[type="submit"]{
  margin: auto;
  border: none;
  height: 45px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
  font-size: 80%;
  
}

input[type="submit"]:hover{
  background-color: rgb(65, 65, 65);
  color: white;
}

#dropDown{
  width: 100%;
  
}

@media only screen and (max-width: 800px) {
  #navbar{
      flex-direction: column;
      position: relative;
  }

  .navbar_outer{
      width: 80%;
      margin-left: 5%;
      padding: 20px;
  }

  .navbar_inner{
      width: 100%;
      height: 100%;
  }

  .navbar_outer_img{
      visibility: hidden;
  }

  p{
      margin-bottom: 0;
      padding-bottom: 15%;
  }

  .navbar_inner p {

      font-size: 40px;
  }

  .kontakt_oss{
    flex-direction: column;
  }

  .QnA{
    width: 100%;
    margin-left: 0;
  }

  .Spm{
    width: 100%;
    /* text-align: center; */
  }

  form{
    text-align: center;
    padding-left: 0;
  }

  #frm{
    
    margin-top: 10%;
    margin-left: 35%;
    margin-bottom: 15%;
  }

}

#form input[type="number"], #form input[type="text"]{
  width: 100%;
}

#form #dropdown {
  position: relative;
  background-color: dodgerblue;
  width: 100%;
}
